@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    612 Brewer st<br />
    Mckinney, Tx 75072<br />
    <abbr title="Phone">P:</abbr>
    703.909.1732
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">atul.patel@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
